#hero {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 40px 0;

	.title {
		font-size: 1.3rem;
		text-align: right;

		h1 {
			font-family: var(--title);
			font-size: 3rem;
			max-width: 460px;
		}

		svg {
			bottom: 0;
			left: 0;
		}
	}

	.links {
		margin-top: 20px;
		display: flex;
		align-items: center;
		gap: 20px;
		justify-content: flex-end;

		svg {
			top: 15px;
			right: -35px;
		}
	}

	.img {
		max-width: min(550px, 100%);

		img {
			max-width: 100%;
		}
	}

	@media screen and (max-width: 1080px) {
		.title svg {
			display: none;
		}
	}

	@media screen and (max-width: 877px) and (min-width: 690px) {
		.links svg {
			display: none;
		}
	}

	@media screen and (max-width: 690px) {
		flex-wrap: wrap-reverse;

		.title {
			text-align: center;
		}

		.links {
			justify-content: center;
		}
	}

	@media screen and (max-width: 380px) {
		.title {
			font-size: 1.2rem;

			h1 {
				font-size: 2.6rem;
			}
		}

		.links svg {
			display: none;
		}
	}
}

#skills {
	display: flex;
	flex-direction: column;
	align-items: center;

	.skillsGrid {
		width: 100%;
		padding: 0 40px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		align-items: baseline;
		gap: 25px 50px;
	}

	.skill {
		.header {
			display: flex;
			align-items: center;
			margin-bottom: 10px;
			gap: 10px;

			svg {
				min-width: 60px;
				max-width: 100%;
				max-height: 80px;
			}

			h3 {
				flex: 1;
				text-align: center;
				font-family: var(--title);

				span {
					display: inline-block;
					max-width: 200px;
				}
			}
		}

		p {
			text-align: justify;
			margin-bottom: 20px;
			min-height: 110px;
		}

		ul {
			margin: auto;
			max-width: 250px;
		}
	}

	@media screen and (max-width: 690px) {
		.skillsGrid {
			padding: 0;
			gap: 25px 30px;
		}
	}

	@media screen and (max-width: 480px) {
		.skill {
			max-width: 300px;
			margin: auto;

			p {
				min-height: auto;
			}
		}
	}
}

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;

	.contacts {
		max-width: 865px;
		padding: 40px;
		margin: 0 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 40px;

		> svg {
			z-index: -1;
		}

		.svg-bottom {
			bottom: -50px;
			left: -60px;
		}

		.svg-top {
			top: -35px;
			right: -50px;
		}

		div {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-wrap: wrap;
			min-width: 200px;
			gap: 20px;
		}
	}

	@media screen and (max-width: 480px) {
		.contacts {
			padding: 40px 20px;

			> svg {
				max-width: 80px;
			}

			.svg-bottom {
				left: -30px;
			}

			.svg-top {
				right: -30px;
			}
		}
	}
}

#portofolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px;

	.projects {
		display: grid;
		gap: 40px;
		grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 2fr));

		.project {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;

			.img {
				flex: 0 1 250px;
				aspect-ratio: 1/1;
				overflow: hidden;
				border-radius: 25px;

				img {
					max-width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.header {
				flex: 1 4 200px;
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;

				h3 {
					font-family: var(--title);
					font-size: 1.5rem;
					margin-bottom: -10px;
				}
			}
		}
	}

	@media screen and (max-width: 690px) {
		margin: 0;
	}

	@media screen and (min-width: 960px) and (max-width: 1100px) {
		.projects {
			grid-template-columns: 1fr 1fr 1fr !important;
		}

		.project {
			justify-content: center;
		}
	}

	@media screen and (max-width: 510px) and (min-width: 380px) {
		.projects {
			grid-template-columns: 1fr 1fr !important;
		}
	}

	@media screen and (max-width: 380px) {
		.project {
			justify-content: center;

			.header {
				align-items: center !important;
				text-align: justify;
				max-width: 270px;
			}
		}
	}
}
