@font-face {
	font-family: "Coconat";
	src: url(assets/fonts/Coconat-Regular.otf);
	font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Prata&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	// forbid color change if link visited
	color: inherit;
	cursor: pointer;
}

:root {
	// variables
	--title: "Coconat", "Prata", serif;
	--main: #fbfbfb;
	--contrast: #1b3654;
	--primary: #bdb7de;
	--secondary: #b9d0f4;
	--tertiary: #ffd56a;
	// baseline
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	font-family: "Alegreya", "Georgia", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--contrast);
	background-color: var(--main);
}

.wrapper {
	margin: auto;
	max-width: 1920px;
	padding: 40px 20px;
}

.btn {
	background-color: var(--tertiary);
	padding: 8px 18px;
	border-radius: 20px;
}

.h2 {
	font-size: 1.8rem;
	font-family: var(--title);
	position: relative;
	display: inline-block;
	margin-bottom: 50px;

	&::after {
		content: url("./assets/images/underline.svg");
		position: absolute;
		bottom: -35px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;

	li {
		background-color: var(--primary);
		padding: 2px 8px;
		border-radius: 8px;
	}
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

@media screen and (max-width: 520px) {
	:root {
		font-size: 14px;
	}
}

.shadow {
	box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.06), 0px 0px 37px -7px #d8d8d8;
}
