@font-face {
	font-family: "Coconat";
	src: url(assets/fonts/Coconat-Regular.otf);
	font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Prata&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	// forbid color change if link visited
	color: inherit;
	cursor: pointer;
}

:root {
	// variables
	--title: "Coconat", "Prata", serif;
	--main: #fbfbfb;
	--contrast: #1b3654;
	--primary: #bdb7de;
	--secondary: #b9d0f4;
	--tertiary: #ffd56a;
	// baseline
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth;
	font-family: "Alegreya", "Georgia", serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
	color: var(--contrast);
	background-color: var(--main);
}

.wrapper {
	margin: auto;
	max-width: 1920px;
	padding: 40px 20px;
}

.btn {
	background-color: var(--tertiary);
	padding: 8px 18px;
	border-radius: 20px;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

@media screen and (max-width: 520px) {
	:root {
		font-size: 14px;
	}
}
