@font-face {
	font-family: "Coconat";
	src: url(assets/fonts/Coconat-Regular.otf);
	font-display: swap;
}

@import url("https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&family=Prata&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	// forbid color change if link was already visited
	color: inherit;
	cursor: pointer;
}

button {
	border: none;
	cursor: pointer;
	background-color: inherit;
}

h1,
h2,
h3 {
	// otherwise display bug in chrome if coconat is rendered in bold
	font-weight: normal;
}

:root {
	// variables
	--title: "Coconat", "Prata", serif;
	--main: #fbfbfb;
	--contrast: #1b3654;
	--primary: #bdb7de;
	--secondary: #b9d0f4;
	--tertiary: #ffd56a;
	// baseline
	scroll-behavior: smooth;
	font-family: "Alegreya", "Georgia", serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;
	color: var(--contrast);
	background-color: var(--main);
	padding: 0 100px;

	@-moz-document url-prefix() {
		// fix firefox rendering alegreya too bold
		font-weight: 400;
	}

	@media screen and (max-width: 1366px) {
		padding: 0 60px;
	}

	@media screen and (max-width: 520px) {
		font-size: 14px;
		padding: 0 40px;
	}
}

.wrapper {
	margin: auto;
	max-width: 1920px;
}

.btn {
	background-color: var(--tertiary);
	padding: 8px 18px;
	border-radius: 20px;
}

.h2 {
	font-size: 1.8rem;
	font-family: var(--title);
	position: relative;
	display: inline-block;
	margin-bottom: 50px;
	text-align: center;

	&::after {
		content: url("./assets/images/underline.svg");
		position: absolute;
		bottom: -35px;
		left: 50%;
		transform: translateX(-50%);
	}
}

.tags {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;

	li {
		background-color: var(--primary);
		padding: 2px 8px;
		border-radius: 8px;
		cursor: default;
	}
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.shadow {
	box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.06), 0px 0px 37px -7px #d8d8d8;
}

.underline {
	position: relative;

	&::before {
		content: "";
		display: block;
		height: 4px;
		width: 0%;
		background-color: var(--secondary);
		position: absolute;
		top: 100%;
		transition: 0.8s width;
	}

	&:hover {
		&::before {
			width: 100%;
		}
	}
}

.btn,
.tags li {
	transition: 0.3s font-size;

	&:hover {
		font-size: 1.1rem;
	}
}
